<main class="flex flex-col gap-8 text-text/90">
  <article>
    <h2 class="mb-3 text-lg font-semibold">Áreas de conocimiento:</h2>
    <ul class="space-y-1 text-white list-disc list-inside">
      <li>
        Backend y Frontend con <span class="font-semibold text-yellow-200"
          >Jascript/Typescript</span
        >. [ReactJs | NestJs | Express]
      </li>
      <li>
        Base de datos: <span class="font-semibold text-yellow-200"
          >MariaDB, Postgresql y MongoDB</span
        >. [PrismaJs | Mongoose]
      </li>
      <li>
        Control de versiones con <span class="font-semibold text-yellow-200"
          >Git</span
        >.
      </li>
      <li>
        Administración básica de servidores con <span
          class="font-semibold text-yellow-200">GNU/Linux</span
        >.
      </li>
    </ul>
  </article>
  <article class="flex flex-col gap-3">
    <h2 class="text-lg font-semibold">Proyectos</h2>
    <p>En construcción...</p>
  </article>
  <article class="flex flex-col gap-3 text-pretty">
    <h2 class="text-lg font-semibold">Sobre mí</h2>
    <p>
      Me llamo Gustavo Alonso. Empecé en la programación en la universidad y
      descubrí mi pasión por el código. Actualmente soy bachiller en Ingeniería
      en sistemas buscando trabajo como desarrollador de software.
    </p>
    <p>
      Mis primeros trabajos fueron en entidades del gobierno, donde aprendí el
      trabajo de equipo y la responsabilidad de cumplir con el trabajo asignado.
      Mi objetivo es tener estabilidad financiera y laboral.
    </p>
  </article>
</main>
